{% extends 'admin/base_site.html' %}
{% comment %} {% include play_app/admin_css.css %} {% endcomment %}

{% block extrastyle %}
    <style>
    :root{
        --primary-color: #5a8383;
        {% comment %} --primary-color: #5a7383; {% endcomment %}
        {% comment %} --primary-color-faded: #fff; {% endcomment %}
        --primary-color-faded: #2f4be4;
        --secondary-color: #0f4be4;
    }
    ::selection {
        background: var (--secondary-color);
        color: var(--primary-color);
        {% comment %} color: var(--primary-color); {% endcomment %}
        opacity: 1
    }
    :: -moz-selection{
        background: var(--secondary-color);
        color: var (--primary-color);
        opacity:1
    }
    body{
        background-color:#aad1ee;
        font-family: 
            -apple-system,
            BlinkMacSystemFoknt,
            'Segoe UI',
            Roboto;
            Helvetica,
            Arial,
            sans-serif,
            'Apple Color Emoji',
            'Segoe UI Emoji',
            'Segoe UI Symbol',
    }
    #header{
        background:var(--primary-color);
        background-color:#

    }
    .module h2, .module caption, .inline-group h2{
        background-color:var(--primary-color-faded);
    }
    div.breadcrumbs{
        background: var(--primary-color-faded)
    }
    a:link, a:visited{
        color: var(--primary-color-faded);
    }
    .selector-chosen h2{
        background:var(--primary-color-faded) !important;
    }
    .button, input[type=submit], input[type=button], .submit-row input, a.button {
        background:var(--primary-color-faded);
    }
    .button.default, input[type=submit].default, .submit-row input.default{
        {% comment %} background:var(--primary-color); {% endcomment %}
        background:grey;
    }
    .button.active, input[type=submit]:active, input[type=button]:active,.button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover input[type=submit]:hover{
        {% comment %} background:var(--primary-color-faded); {% endcomment %}
        background:red;
        opacity:0.8;
    }
    .button.default:active, input[type=submit].default:active, .button.default:focus, input[type=submit].default:focus, input[type=button].default:focus, input[type=submit].default:focus, .button.default:hover, input[type=submit].default:hover{
        background:var(--primary-color);
        opacity:0.5;
    }
    
    </style>
{% endblock extrastyle %}