{% load static %}

<div class="px-10 pb- " id="about" >
    <div class="py-20 text-2xl md:text-4xl">
        About US
    </div>
    <div class="grid-cols-12 md:grid">
        <div class="col-span-6" data-aos="zoom-in">
            <img src="{% static 'img/7121.jpg' %}" alt="" class="">
            <!-- <img src="{% static 'img/Gentannie_4-1.jpg' %}" alt="" class="h-60"> -->
        </div>
    <div data-aos="zoom-in" class="col-span-6 mt-6 text-lg text-center text-gray-600 md:mt-5 md:text-2xl" >
            <i>
                <b>GENTANNIE</b> is an Agro-crypto  company whose operational models is centered around
                buying and selling of agro related products and exchange/trade of crypto currencies in
                the capital/stock markets. We are a registered company under the corperate affairs commission, 
                with registration No. 3324372.
                We are a legaly binding company recognised by law, and operating under the scrutiny of CAC <br><br> 
                Gentannie is not a get rich-quick Scheme. <br>
                Referal is totally optional. <br>
                It is not a Ponzi Scheme. <br>
                
                We welcome investors to invest in our different Investment
                Packages  with sure and genuine return on investment within a stipulated time.
            </i>
        </div>
    </div>
</div>