{% load static %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{% static 'css/styles.css' %} ">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %} ">
<link rel="stylesheet" href=" countdown/jquery.countdown.css">
<title>Gentannie | Lauching Soon</title>

<div class="px-4 py-16 bg-gray-00 md:px- -mt:32" id="countdown1-s">
    <div class="-mt-20">
        <div>
            <div class="Pillow">
                <img src="{% static 'img/Gentannie_4-1.jpg' %} " alt="" class="h-40">
            </div>
        </div>
        <div class="pb-10 text- text-md -mt-9 text-bold md:text-2xl md:mt-2">
            <b>GENTANNIE</b> is an AGRO-CRYPTO  company whose operational models is centered around
            buying and selling of agro related products and exchange/trade of crypto currencies in
            the capital/stock markets. We welcome investors to invest in our different Investment
            packages  with sure  and genuine return on investment within a stipulated time.
        </div>
        <div class="py-2 -mt-10 text-center text-red-400 text-md md:mt-10 md:p-5">
            Our online Investment Starts in:
        </div>
        <div class="p-1 bg-gray-100 shadow-2xl rounded-2xl md:p-10">
            <div class="justify-center text-center text-white bg-green-500 rounded-lg shadow shadow-2xl" style="background-color:#508a00">
                <div id="demo" class="py-8 text-3xl px- md:px-32 md:text-5xl "></div>
            </div>
        </div>
        <div class="py-3 mt-10 text-2xl text-center bg-gra-400 text-bold md:text-3xl">
            Join us and be financially free.
        </div>        
    </div>
</div>

</div>


<script src="{% static 'js/count.js' %} "></script>
<script src="{% static 'js/bootstrap.js' %} "></script>
<script src="{% static 'js/jquery.countdown.min.js' %} "></script>
