{% load static %}


<div class="mt-48 bg-gray-100" id="features">
    <div class="text-lg text-center text-gray-500 md:text-2xl">
        <div class="py-20 pb-3 mt-10 text-3xl md:text-4xl text-bold">
            Why People Choose Us
        </div>
        These are some of the reasons people choose us.
    </div>
    <div class="mx-auto">
        <div class="grid-cols-12 gap-5 px-3 sm:grid sm:gap-2">
            <div class="px-5 py-10 mt-3 border rounded-md shadow-md bg-gray-50 md:col-span-4 sm:col-span-6 sm:mt-1 hover:shadow-2xl" data-aos="fade-right">
                <div class="" id="img_hover" data-aos="zoom-in">
                    <img src="{% static 'img/dash_icons/icons8_receive_cash_80px.png' %}" alt="feature-img" id="hover_img" class="transition duration-500 ease-in-out transform rounded-full bg-white-600 hover:bg-green-400 hover:-translate-y-1 hover:scale-110">
                </div>
                <div class="transition duration-500 ease-in-out transform select-none hover:-translate-y-1 hover:scale-110">
                    <span class="text-2xl text-green-500">
                        Financial freedom
                    </span><br>
                    <span class="">
                        Our customers have since being part of us, became financially free with a steady income source
                    </span>
                </div>
            </div>
            <div class="px-5 py-10 mt-3 transition ease-in transform border rounded-md shadow-md bg-gray-50 md:col-span-4 sm:col-span-6 sm:mt-1 hover:shadow-2xl" data-aos="fade-left">
                <div class="" data-aos="zoom-in">
                    <img src="{% static 'img/icons/icons8_merchant_account_80px.png' %}" alt="feature-img" class="transition duration-500 ease-in-out transform rounded-full bg-white-600 hover:bg-green-400 hover:-translate-y-1 hover:scale-110">
                </div>
                <div class="transition duration-500 ease-in-out transform select-none hover:-translate-y-1 hover:scale-110">
                    <span class="text-2xl text-green-500">
                        Payment options
                    </span><br>
                    <span>
                        We Transact with our clients in a seamless and conducive manner that is transparent and open
                    </span>
                    <!-- Our payment system supports local banks, Deposit and withdrawals are fully automated -->
                </div>
            </div>
            <div class="px-5 py-10 mt-3 transition ease-in transform border rounded-md shadow-md bg-gray-50 md:col-span-4 sm:col-span-6 sm:mt-1 hover:shadow-2xl" data-aos="fade-right">
                <div class="" data-aos="zoom-in">
                    <img src="{% static 'img/icons/icons8_discount_80px.png' %}" alt="feature-img" class="transition duration-500 ease-in-out transform rounded-full bg-white-600 hover:bg-green-400 hover:-translate-y-1 hover:scale-110">
                </div>
                <div class="transition duration-500 ease-in-out transform select-none hover:-translate-y-1 hover:scale-110">
                    <span class="text-2xl text-green-500">
                        Mouth Watering ROI
                    </span><br>
                    <span>
                        ROI offered by Gentannie can't be matched by any bank. 
                    </span>
                </div>
            </div>
        <!-- </div> -->
        <!-- <div class="grid-cols-12 gap-5 px-3 sm:grid"> -->
            
            <div class="px-5 py-10 mt-3 transition ease-in transform border rounded-md shadow-md bg-gray-50 md:col-span-4 sm:col-span-6 sm:mt-1 hover:shadow-2xl" data-aos="fade-left">
                <div class="" data-aos="zoom-in">
                    <img src="{% static 'img/icons/icons8_three_triangles_80px.png' %}" alt="feature-img" class="transition duration-500 ease-in-out transform rounded-full bg-white-600 hover:bg-green-400 hover:-translate-y-1 hover:scale-110">
                </div>
                <div class="transition duration-500 ease-in-out transform select-none hover:-translate-y-1 hover:scale-110">
                    <span class="text-2xl text-green-500">
                        Powerful Dashboard
                    </span><br>
                    <span>
                        Manage multiple investments using our powerful cutting-edge dashboard built on modern technology
                    </span>
                </div>
            </div>
            <div class="px-5 py-10 mt-3 transition ease-in transform border rounded-md shadow-md bg-gray-50 md:col-span-4 sm:col-span-6 sm:mt-1 hover:shadow-2xl" data-aos="fade-right">
                <div class="" data-aos="zoom-in">
                    <img src="{% static 'img/icons/icons8_hierarchy_80px_1.png' %}" alt="feature-img" class="transition duration-500 ease-in-out transform rounded-full bg-white-600 hover:bg-green-400 hover:-translate-y-1 hover:scale-110">
                </div>
                <div class="transition duration-500 ease-in-out transform select-none hover:-translate-y-1 hover:scale-110">
                    <span class="text-2xl text-green-500">
                        Referal package
                    </span><br>
                    <span>
                        You can invite your friends to the platform, and earn in the process. Every referal earns you money which can be withdrawed when you hit 10 referals.
                    </span>
                </div>
            </div>
            <div class="px-5 py-10 mt-3 transition ease-in transform border rounded-md shadow-md bg-gray-50 md:col-span-4 sm:col-span-6 sm:mt-1 hover:shadow-2xl" data-aos="fade-left">
                <div class="" data-aos="zoom-in">
                    <img src="{% static 'img/icons/icons8_technical_support_80px.png' %}" alt="feature-img" class="transition duration-500 ease-in-out transform rounded-full bg-white-600 hover:bg-green-400 hover:-translate-y-1 hover:scale-110">
                </div>
                <div class="transition duration-500 ease-in-out transform select-none hover:-translate-y-1 hover:scale-110" >
                    <span class="text-2xl text-green-500">
                        Service suport
                    </span><br>
                    <span>
                        We provide you with all the assistance you would need, when faced with any problem with regards to your account and how to use the platform.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


