{% load static %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <title>gentannie | index</title> -->
<link rel="stylesheet" href="{% static 'css/styles.css' %} ">
<link rel="stylesheet" href=" {% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href=" {% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/mbr-additional.css' %} ">
<link rel="stylesheet" href="{% static 'bootstrap-5.0.0-beta2-dist/css/bootstrap.css' %} ">
<link rel="stylesheet" href="{% static 'bootstrap-5.0.0-beta2-dist/css/bootstrap.min.css' %} ">
<link rel="stylesheet" href="{% static 'css/aos.css' %} ">


<script src="{% static 'js/script.js' %} "></script>
<script src="{% static 'js/jquery.min.js' %} "></script>
<script src="{% static 'js/popper.min.js' %} "></script>
<script src="{% static 'bootstrap-5.0.0-beta2-dist/js/bootstrap.min.js' %} "></script>
<script src="{% static 'bootstrap-5.0.0-beta2-dist/js/bootstrap.js' %} "></script>
<script src="{% static 'bootstrap-5.0.0-beta2-dist/js/bootstrap.bundle.js' %} "></script>
<script src="{% static 'js/aos.js' %} "></script>
