{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'gentannieReferal/head.html' %}
</head>
<body style="overflow-x: hidden; w-auto mx-auto">
    <script>
        AOS.init();
    </script>
  
    <!-- header -->
    {% include 'gentannieReferal/header.html' %}
    <!--/ .header -->
    <!-- banner -->
    <div class="bg-gray-300 shadow-sm px-">
        {% include 'gentannieReferal/carousel.html' %}
    </div>

    <!-- about -->
    {% include 'gentannieReferal/about_us.html' %}
    <!-- / .about -->

    <!-- features -->
    {% include 'gentannieReferal/features.html' %}
    <!-- / .features -->
    
    <!-- steps -->
    {% include 'gentannieReferal/steps.html' %}
    <!-- / .steps -->

    <!--/ .banner -->
    <!-- about section -->
        <!-- plans section -->
    <div class="px-10 mt-20 text-2xl md:px-20 md:text-4xl" id="plans">
        Investment packages
    </div>
    <div class="px-10 mt-2 text-md md:text-2xl md:px-20">
        All Investment plans have a life span of nine (9) months
    </div>
    <div class="mt-4 -mx-20 md:flex md:mt-10 md:px-10">
        <div class="px-20 pb-10" >
            <img src="{% static 'img/Smart_Locked.jpg' %}" alt="plan" class="px-10 shadow-2xl h-90">
        </div>
        <div class="px-20">
            <img src="{% static 'img/Smart_Unlocked.jpg' %}" alt="plan" class="px-10 shadow-2xl h-90">
        </div>
    </div>
    <div class="mt-20 -mx-20 md:flex md:md:px-10">
        <div class="px-20 pb-10">
            <img src="{% static 'img/Super_locked.jpg' %}" alt="plan" class="px-10 shadow-2xl h-90">
        </div>
        <div class="px-20">
            <img src="{% static 'img/Super_Unlock.jpg' %}" alt="plan" class="px-10 shadow-2xl h-90">
        </div>
    </div>
    <div class="flex justify-center mt-20 -mx-10 md:flex md:md:px-10">
        <div class="px-10 ">
            <img src="{% static 'img/Supreme.jpg' %}" alt="plan" class="px-10 shadow-2xl h-90">
        </div>
    </div>

    {% comment %} {% include 'gentannieReferal/plans.html' %} {% endcomment %}
    <!-- / .about -->
    
    <div class="py-32 mt-20 overflow-x-hidden bg-green-600" style="background-image: url('{% static 'img/hero-gradient.svg' %}');background-repeat:none;opacity:0.8;over-flow:hiddrn ">
        <div class="items-center px-10 lg:flex">
            <div class="block lg:px-10">
                <div class="mt-10 text-4xl text-white capitalize md:text-5xl" data-aos="zoom-in">
                    Are you ready to be financialy free?
                </div>
                <div class="mt-2 text-lg text-white md:text-2xl">
                    By investing with us you are sure of getting your return<br> on investment as at when due, no excusses.
                </div>
            </div>
            <div class="mx-auto">
                {% if user.is_authenticated %}
                    <a href="{% url 'login' %}" class="text-">
                        <button class="px-6 py-2 text-2xl bg-yellow-200 rounded-full shadow hover:bg-yellow-400">
                            Join Us now
                        </button>
                    </a>
                    {% else %}
                    <a href="signup" class="text-">
                        <button class="px-6 py-2 text-2xl bg-yellow-200 rounded-full shadow hover:bg-yellow-400">
                            Join Us now
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

</body>
</html>
<footer class="mt-10">
    {% include 'gentannieReferal/footer.html' %}
</footer>

<script src="{% static 'js/script.js' %} "></script>
<script src="{% static 'js/jquery.min.js' %} "></script>
<script src="{% static 'js/popper.min.js' %} "></script>
<script src="{% static 'bootstrap-5.0.0-beta2-dist/js/bootstrap.min.js' %} "></script>
<script src="{% static 'bootstrap-5.0.0-beta2-dist/js/bootstrap.js' %} "></script>
<script src="{% static 'bootstrap-5.0.0-beta2-dist/js/bootstrap.bundle.js' %} "></script>