{% load static %}

<div class="px-10 py-20 mt-6 border" id="steps">
    <div class="py-3 text-2xl md:text-4xl">
        Steps to follow
    </div>
    <div class="py-10 text-lg text-center text-gray-500 md:text-2xl">
        Follow these simple steps to get started
    </div>
    <div class="grid gap-3 md:grid-cols-12 lg:grid-cols-12">
        <!-- <div class="border"> -->
            <div data-aos="zoom-in" class="border-t border-green-600 rounded-sm shadow select-none lg:col-span-3 md:col-span-4 hover:shadow-2xl -px-2 hover:border-b-">
                <img src="{% static 'img/1.jpg' %}" class="rounded-full">
            </div>
            <div data-aos="zoom-in" class="border-t border-green-600 rounded-sm shadow select-none lg:col-span-3 md:col-span-4 hover:shadow-2xl">
                <img src="{% static 'img/2.jpg' %} " class="rounded-full">
            </div>
            <div data-aos="zoom-in" class="border-t border-green-600 rounded-sm shadow select-none lg:col-span-3 md:col-span-4 hover:shadow-2xl">
                <img src="{% static 'img/3.jpg' %} " class="rounded-full">
            </div>
            <div data-aos="zoom-in" class="border-t border-green-600 rounded-sm shadow select-none lg:col-span-3 md:col-span-4 hover:shadow-2xl">
                <img src="{% static 'img/4.jpg' %} " class="rounded-full">
            </div>
        <!-- </div> -->
            <div data-aos="zoom-in" class="border-t border-green-600 rounded-sm shadow select-none lg:col-span-3 md:col-span-4 hover:shadow-2xl">
                <img src="{% static 'img/5.jpg' %} " class="rounded-full">
            </div>
            <div data-aos="zoom-in" class="border-t border-green-600 rounded-sm shadow select-none lg:col-span-3 md:col-span-4 hover:shadow-2xl">
                <img src="{% static 'img/6.jpg' %} " class="rounded-full">
            </div>
            <div data-aos="zoom-in" class="border-t border-green-600 rounded-sm shadow select-none lg:col-span-3 md:col-span-4 hover:shadow-2xl">
                <img src="{% static 'img/7.jpg' %} " class="rounded-full">
            </div>
        {% comment %} <div class="p-4 border-t border-green-600 rounded-md shadow select-none lg:col-span-3 md:col-span-4 ">
            <div class="" >
                <div class="flex items-center justify-between p-1 text-lg text-white bg-green-300 rounded-sm shadow-md md:text-2xl hover:bg-yellow-200 " style="background-colo:#508a00;">
                    <div class="px-1 py-1 text-black bg-white rounded-full">
                        step 4
                    rounded-full <div>
                        <img src="{% static 'img/dash_icons/icons8_wallet_80px.png' %}" alt="" class="h-14" class="rounded-full">
                    </div>
                </div>
            </div>
            <div class="mt-3 text-2xl text-center md:text-3xl">
                loriuuu
            </div>
            <div class="text-center">
                
            </div>
        </div> {% endcomment %}
    </div>
</div>