{% load static %}
{% include 'gentannieReferal/head.html' %}
<html>
<body>
    <header class="">
        <div class="items-center w-full px-6 py-5 overflow-hidden border shadow-md z-1 topnav" style="background-color:#508a00; ">
               <div class="items-center gap-32 px- " id="myTopnav">
                   <div class="bg-yellow-">
                       <a href="{% url 'index' %}" class="text-white md:text-2xl" style="text-decoration:none">
                           {% comment %} <img src="{% static 'img/Gentannie_4-1.jpg' %}" alt="gentannie" class="h-16"> {% endcomment %}
                           gentannie™
                       </a>
                   </div>  
               </div>
           </div>
    </header>
    <div class="px-10">
        <section class="">
            <div class="pb-3 mt-5">
                <div class="text-3xl text-gray-600 capitalize">
                    terms and conditions
                </div>
            </div>
        </section>
        <div class="">
            <b> TERMS AND CONDITIONS GOVERNING INVESTMENT AND ACCESS TO THE SERVICE
                INTERPRETATION</b><br>

                <div>
                    In these Terms and Conditions the following terms will have the following meanings;
                “Agreement” means the agreement concluded between you and the company when we accept your request, which agreement is governed exclusively by these Terms and Conditions, as amended from time to time.
                “Investment” means money invested with an exception of profit.
                “ROI” means return on Investment which is the amount, expressed as a percentage, that is earned on an invested capital over a period of time.
                “Content Right” means the copyright and other Intellectual property rights to the audiovisual, audio and/or data materials, provided by us.
                “Branch” means the geographical area in the territory in which the investment is registered or to be registered;
                “Due Date” means the date by when you must receive payment of your ROI
                “General Amendment” means an amendment of these Terms and Conditions by us from time to time on notice to you;
                “Terms and Conditions” means the terms and conditions set out in this document, as amended from time to time, such terms and conditions being freely available to you on the digital platform or on request to us at any time
                “Viewing Device” means a device which is compatible with the investment platform, displays the audiovisual material comprising the service, this includes; certain laptops, personal computers, tablets and smart phones;
                “We” or “Us” means <b>GENTANNIE ENTERPRISE </b> a company registered with the CAC with registration number RC 3324372 and any other person (including any legal person) to which that company may transfer its rights; obligations and interest in terms of this Agreement; The parties choose the following addresses for the service of all notices and processes arising out of this Agreement.
                “Parties” refers to you and us together;
                “Your request” means your request for access to the service on the Terms and Conditions, which request may have been made.
                By way of text message from your mobile phone to the number determined by us;
                If applicable, via your investment platform; or in any other manner authorized by us from time to time
                Any reference in these Terms and Conditions to the singular includes the plural, and vice versa; and one gender includes the other gender.

                <div class="mt-3 text-gray-800"><b>DISCLOSING YOUR PERSONAL INFORMATION</b></div>
                Each party shall keep in strict confidence all information relating to the other party under this agreement.
                We may be required to share your personal information to; any third party who acquires (or proposes to acquire) ownership or control of assets, share of management, whether by purchase, merger, acquisition  or otherwise; to agents, representatives or service providers  which we appoint to process your request, administer the agreement or provide subscriber management services; to our payment system providers in order to facilitate the collection of your fund using payment system owned and operated by third parties; or if and to the extent that we are acquired to do so comply with any applicable law, including the requirements of statutory authorities; and retain your personal information referred to this clause
                For as long as we are required to do so in terms of any applicable laws, for evidentiary purpose or in order to exercise or protect any of our right under the agreement.
                It is your responsibility to proactively ensure that the information which you provide to us is complete, accurate and up to date.
                You are to inform us in writing within seven (7) business days of any change to any of the information provided by you in relation to the agreement.
                You authorize us to use the information that we may hold in relation to you for the purpose of;
                Processing your request;
                Administering the agreement;
                Informing you of any new aspect of the service or services provided by our affiliates;
                Informing you of promotion competitions;
                Notifying you of a general amendment.
                <div class="mt-3"><b>COMMUNICATIONS WITH YOU</b></div>
                1.       Subject to any applicable laws, we may communicate with you, among other methods, by means of post, e-mail, on-air communications, or by ways of text or other message to your phone, PC, laptop, viewing device and through our platform.
                <br>
                2.       We may use such messages, amongst other things , to-market or promote our services and/or those of our channel suppliers, affiliates and/or clients, subject to your right to restrict unwanted direct marketing; inform you about the services and operational systems, and changes to these;
                <br>
                3.       Provide you with information which we believe may be of particular interest or relevance to you
                <br>
                4.       Advise you of the status of your account;
                <br>
                5.       Remind you of forthcoming due dates;
                <br>
                6.       notify you of a general Amendment

                <div class="mt-3"><b>AMENDMENT TO AND VARIATIONS IN THE SERVICES</b></div>
                1.      The nature, composition and content of the service are determined by us in our sole discretion, and may be changed by us from time to time.
                <br>
                2.      You agreed to be bound by a General Amendment from the date specified in the General Amendment notice, which date will be reasonable time after the date of the General Amendment notice.
                <br>
                3.      No amendment requested by you will be valid or effective unless either captured in a General Amendment or record in writing and signed by you and by us.
                <br>
                <br>
                <div class=""><b>BREACH OF AGREEMENT</b></div>
                1.     Your failure to comply with these terms and conditions constitutes a material breach of the agreement.
                <br>
                2.     If you breach this Agreement
                <br>
                We may, without prejudice to any other remedy that we may have, immediately and without notice to you disable your services and/or terminate this Agreement depending on this severity of such breach;
                If we terminate this agreement, you may submit a request with a view to us concluding a new Agreement with you.
                <div class="mt-4"><b>GENERAL</b></div>
                1.     If any provision of these terms and Conditions is found to be wholly or partly invalid, unenforceable or unlawful, then;
                <br>
                These terms and Conditions will be severable in respect of the provision in question to the extent of its invalidity, unenforceable or unlawfulness; and the remaining provisions of these Terms and Conditions will remain in full force and effect.
                <br>
                2.     We may cede any of our rights and/or assign any of our obligations under these terms and conditions to any person.
                <br>
                3.     You may not cede any of your rights and/or assign any of your obligations under these terms and conditions to any person without our prior written consent.
                <br>
                4.     These terms and conditions are subject to, and will be interpreted, implemented and enforced, in terms of the laws of the territory.
                <br>
                5.     The parties consent to the jurisdiction of high court in the territory in respect of all proceedings arising out of or pursuant to this agreement.
                <br>
                6.     Either party may at any time by written notice to the other party vary its domicile address to any address within the territory.
                <br>
                7.     A notice actually received by a party not withstanding that it was not delivered to that party’s domicile address.
                <br>
                8.     Confirmation of payment of investment fund shall be for an expected period of Five (5) working days. Date of investment shall be the date of confirmation of investment funds”.
                <br>
                9. You are cautioned never to pay funds to any accounts other than the authorized account of the company with a generated payment ID/Reference ID. This provision shall serve as an effective disclaimer against you should act otherwise.
                <br>
                10. For refund i.e. wrong payment or third party payment is subject to refund after 1 month. Such funds must be confirmed in the company’s account for such refund to be effected
                <br>
                11. We shall manage trade and keep proper record of the trading activities.
                <br>
                12. Due to transaction errors, we may experience delay in payment, you agree that should there be any such delay; a period of 7 days would be allowed in other for us to rectify such transaction error.
                <br>
                13. No payment made to any staff of the company for purposes of investment or trading shall be deemed authorized by the company.
                <br>
                14. Where you wish to terminate this agreement before the agreed term, your Paid already Paid ROI will be deducted from your invested capital and you shall forfeit 15% of the value of your investment.
                <br>
                15. All Investment plans have a life span of Nine (9) Months, after which you can pick a package and reinvest.
                <br>
                16. Subject to your compliance with the agreement, your access to the service will continue until suspended by us or terminated by either you or us in terms of the provisions of these terms and conditions.
                <br>
                17. Third party payments are not allowed. All payments/transaction must come through investors account(s).
                <br>
                18. You may authorize any other person to communicate with us on your behalf in relation to the agreement, provided that such person complies with our standard security check. You agree to be bound by all requests and undertakings made by third parties on your behalf in terms of this clause. We recommend a legal representative in the event of being challenged with communicating with us directly.
                <br>
                19. It is your responsibility to ensure that your personal information relevant to our standard security checks is not disclosed to third parties whom you have not authorized to represent you.
                <br>
                20. All disputes arising from this agreement shall first be resolved through arbitration under the arbitration and conciliation act, CAP A18, LFN, 2004.

                <div class="mt-5"><b>TERMS FOR SMART INVESTMENT</b></div>
                1.       You agree that your investment is in subscription to the smart package which is for a term of Nine (9) months, subject to termination at the expiration of the agreed term.
                <br>
                2.       In consideration of the investment funds paid by you and subject to complying with these terms and conditions, we will provide you with access to the service, in accordance with the agreement.
                <br>
                3.       Smart Investment can either be Locked or Unlocked
                <br>
                4.     You are by this investment entitled to the percentage as appropriate to each plan with returns payable every month for Unlocked and Quarterly ( i.e every three Months) for Locked, for the term.
                <br>
                Package plans are as follows:
                <br>
                I.          SMART LOCKED - 120% Return On Investment
                <br>
                II.       SMART UNLOCKED - 35% Return On Investment
                <br>
                <div class="pb-2 mt-5"><b>TERMS FOR SUPER INVESTMENT</b></div>
                <br>
                1. You agree that your investment with us will be for a term of Nine (9) months subject to termination at the expiration of the agreed term.
                <br>
                2. In consideration of investment funds paid by you and subject to you complying with these terms and conditions, we will provide you with access to the service, in accordance with the agreement.
                <br>
                3. Investment can either be Locked or Unlocked
                <br>
                4. You are by this investment entitled to the percentage as appropriate to each plan with returns payable every month for Unlocked and Quarterly ( i.e every three Months) for Locked, for the term.
                <br>
                Package plans are as follows:
                <br>
                I.        SUPER (LOCKED) - 90% Return On Investment
                <br>
                II.       SUPER (UNLOCKED) - 25% Return On Investment

                <div class="mt-6"><b>TERMS FOR SUPREME INVESTMENT</b></div>
                <br>
                1. You agree that your investment with us will be for a term of Nine (9) months subject to termination at the expiration of the agreed term.
                <br>
                2. In consideration of investment funds paid by you and subject to you complying with these terms and conditions, we will provide you with access to the service, in accordance with the agreement.
                <br>
                3. Investment is only Unlocked
                <br>
                4. You are by this investment entitled to the percentage as appropriate to each plan with returns payable every month for the term.
                <br>
                Package plan is as follows:
                <br>
                I.<b>SUPREME (UNLOCKED) - 25% Return On Investment</b>
                <br>
                <b class="mt-3 text-red-400">NB: kindly note that this is not a proof of your investment as the confirmation of your payment validates your investment.</b>
                        </div>
                    </div>
                </div>
</body>

</html>
<footer class="mt-4">
    {% include 'gentannieReferal/footer.html' %}
</footer>
<script src="{% static 'js/script.js' %} "></script>