{% load static %}

<div class="mt-10">
    <div class="px-5 text-lg text-white capitalize md:text-2xl">
        investment plans
    </div>
    <div class="grid gap-4 px-5 mt-3 md:grid-cols-6 sm:grid-cols-12 lg:grid-cols-12 xl:grid-cols-12">
        <div class="col-span-3 mt-3 bg-green-600 rounded-md shadow-lg select-none md:col-span-6 lg:col-span-6 sm:col-span-6 sm:bg-red-400 md:bg-green-500 lg:bg-500-red-500 xl:bg-green-400 xl:col-span-3">
            <div class="col-span-3 p-4 mt-3 bg-gray-800 rounded-sm">
                <div class="py-2 shadow-2xl sm:mx-0">
                    <img src="{% static 'img/dash_icons/icons8_growing_money_80px.png' %} " class="h-12 bg-green-500 rounded-full shadow-2xl cursor-pointer">
                </div>
                <div class="pb-4 text-2xl text-center text-white capitalize md:text-3xl">
                    Basic
                </div>
                <div class="text-2xl text-center text-gray-50">$100 +</div>
                <div class="text-center text-gray-50">For investors that want to investment small.</div>
                <div class="mt-3 text-lg text-center text-gray-50"><span class="text-red-500">*</span> Best Traders support</div>
                <div class="mt-3 text-lg text-center text-gray-50"><span class="text-red-500">*</span> minimal roll out of Investment</div>
                <div class="mt-3 text-lg text-center text-gray-50"><span class="text-red-500">*</span> limited brokery service</div>
                <div class="mt-3 text-lg text-center text-gray-50"><span class="text-red-500">*</span> 8/5 days support</div>
                <div class="mt-3 text-lg text-center text-gray-50"><span class="text-red-500">*</span> Frequent updates </div>
            </div>
            <a href="userDeposit ">
                <div class="py-2 text-2xl text-center bg-green-600 rounded-b text-bold hover:shadow-lg hover-text-white">
                    Get Plan
                </div>
            </a>
        </div>
        <div class="col-span-3 mt-3 bg-green-600 rounded-md shadow-2xl select-none md:col-span-6 lg:col-span-6 sm:col-span-6 sm:bg-red-400 md:bg-green-500 lg:bg-500-red-500 xl:bg-green-400 xl:col-span-3">
            <div class="col-span-3 p-4 mt-3 bg-gray-800 rounded-sm shadow-md ">
                <div class="py-2 shadow-2xl sm:mx-0">
                    <img src="{% static 'img/dash_icons/icons8_growing_money_80px.png' %} " class="h-12 bg-green-500 rounded-full shadow-2xl cursor-pointer">
                </div>
                <div class="pb-4 text-2xl text-center text-white capitalize md:text-3xl">
                    Standard
                </div>
                <div class="text-2xl text-center text-gray-50">$200 +</div>
                <div class="text-center text-gray-50">For investors that want minimal returns.</div>
                <div class="mt-3 text-lg text-center text-gray-50"><span class="text-red-500">*</span> top Traders support</div>
                <div class="mt-3 text-lg text-center text-gray-50"><span class="text-red-500">*</span> maxmimal roll out of Investment</div>
                <div class="mt-3 text-lg text-center text-gray-50"><span class="text-red-500">*</span> Unlimited brokery service</div>
                <div class="mt-3 text-lg text-center text-gray-50"><span class="text-red-500">*</span> 24/5 days support</div>
                <div class="mt-3 text-lg text-center text-gray-50"><span class="text-red-500">*</span> Frequent updates </div>
            </div>
            <a href="userDeposit ">
                <div class="py-2 text-2xl text-center bg-green-600 rounded-b text-bold hover:shadow-lg hover-text-white">
                    Get Plan
                </div>
            </a>
        </div>
        <div class="col-span-3 mt-3 bg-green-600 rounded-md shadow-2xl select-none md:col-span-6 lg:col-span-6 sm:col-span-6 sm:bg-red-400 md:bg-green-500 lg:bg-500-red-500 xl:bg-green-400 xl:col-span-3">
            <div class="col-span-3 p-4 mt-3 bg-gray-800 rounded-sm">
                <div class="py-2 shadow-2xl sm:mx-0">
                    <img src="{% static 'img/dash_icons/icons8_growing_money_80px.png' %} " class="h-12 bg-green-500 rounded-full shadow-2xl cursor-pointer">
                </div>
                <div class="pb-4 text-2xl text-center text-white capitalize md:text-3xl">
                    Premium
                </div>
                <div class="text-2xl text-center text-gray-50">$500 +</div>
                <div class="text-center text-gray-50">For investors that want to investment small.</div>
                <div class="mt-3 text-lg text-center text-gray-50"><span class="text-red-500">*</span> expert Traders support</div>
                <div class="mt-3 text-lg text-center text-gray-50"><span class="text-red-500">*</span> Top roll out of Investment</div>
                <div class="mt-3 text-lg text-center text-gray-50"><span class="text-red-500">*</span> Unlimited brokery service</div>
                <div class="mt-3 text-lg text-center text-gray-50"><span class="text-red-500">*</span> 24/7 support</div>
                <div class="mt-3 text-lg text-center text-gray-50"><span class="text-red-500">*</span> Frequent updates </div>
            </div>
            <a href="userDeposit ">
                <div class="py-2 text-2xl text-center bg-green-600 rounded-b text-bold hover:shadow-lg hover-text-white">
                    Get Plan
                </div>
            </a>
        </div>
        <div class="col-span-3 mt-3 bg-green-600 rounded-md shadow-2xl select-none md:col-span-6 lg:col-span-6 sm:col-span-6 sm:bg-red-400 md:bg-green-500 lg:bg-500-red-500 xl:bg-green-400 xl:col-span-3">
            <div class="col-span-3 p-4 mt-3 bg-gray-800 rounded-sm">
                <div class="py-2 shadow-2xl sm:mx-0">
                    <img src="{% static 'img/dash_icons/icons8_growing_money_80px.png' %} " class="h-12 bg-green-500 rounded-full shadow-2xl cursor-pointer">
                </div>
                <div class="pb-4 text-2xl text-center text-white capitalize md:text-3xl">
                    Diamond
                </div>
                <div class="text-2xl text-center text-gray-50">$1000 +</div>
                <div class="text-center text-gray-50">For investors that wants to yield high investment returns.</div>
                <div class="mt-3 text-lg text-center text-gray-50"><span class="text-red-500">*</span> Experienced Traders support</div>
                <div class="mt-3 text-lg text-center text-gray-50"><span class="text-red-500">*</span> Highest Level roll out of Investment </div>
                <div class="mt-3 text-lg text-center text-gray-50"><span class="text-red-500">*</span> Unlimited brokery service</div>
                <div class="mt-3 text-lg text-center text-gray-50"><span class="text-red-500">*</span> 24/7 support</div>
                <div class="mt-3 text-lg text-center text-gray-50"><span class="text-red-500">*</span> Frequent updates </div>
            </div>
            <a href="userDeposit ">
                <div class="py-2 text-2xl text-center bg-green-600 rounded-b text-bold hover:shadow-lg hover-text-white">
                    Get Plan
                </div>
            </a>
        </div>
    </div>
</div>