{% load static %}


{% load static %}

<div class="bg=gray-400">
    <div class="px-10 mt-10 text-2xl md:px-20 md:text-4xl text-white" id="plans">
        Investment packages
    </div>
    <div class="grid-cols-12 px-3 mx-auto -mt-20 justify- lg:px-10 lg:mt-5 md: ">
        <div class="gap-10 px-1 py-10 mx-auto mt-10 lg:px-20 justify-betw lg:flex lg:px-5 md:px-48">
            <div class="col-span-4 py-5 mt-5 rounded-md shadow-lg lg:px-10 md:px-20"><!-- smart plan container-->
                    <a href="signup " style="text-decoration:none" >
                        <div class="flex items-center gap-4 px-2 py-2 text-lg text-white capitalize rounded-full shadow-2xl lg:text-3xl" style="background-color:#508a00">
                            <img src="{% static 'img/icons/icons8_growing_money.png' %}" class="h-10 p-1 bg-white rounded-full lg:h-14">
                            <div>
                                smart
                            </div>
                        </div>
                    </a>
                <div>
                </div>  
            </div>
            <div class="col-span-4 py-5 mt-5 rounded-md shadow-lg lg:px-10 md:px-20"><!-- super plan container -->
                <a href="signup" style="text-decoration:none" >
                    <div class="flex items-center gap-4 px-2 py-2 text-lg text-white capitalize rounded-full shadow-2xl lg:text-3xl" style="background-color:#508a00">
                        <img src="{% static 'img/icons/icons8_growing_money.png' %}" class="h-10 p-1 bg-white rounded-full lg:h-14">
                        <div>
                            Super
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-span-4 py-5 mt-5 rounded-md shadow-lg lg:px-10 md:px-20">
                <div class="flex items-center gap-4 px-2 py-2 text-lg text-white capitalize rounded-full shadow-2xl lg:text-3xl" style="background-color:#508a00">
                    <img src="{% static 'img/icons/icons8_growing_money.png' %}" class="h-10 p-1 bg-white rounded-full lg:h-14">
                    <div>
                        Supreme
                    </div>
                </div>
            </div>        

        </div>
    </div>
</div>
    