{% include 'gentannieReferal/head.html' %}

{% comment %} {% block title %}password reset{% endblock title %} {% endcomment %}
{% block content %}

<div class="px-12 mt-10">
	<form method="POST" class="form-signin">{% csrf_token %}
		<h1 class="mb-3 h3 font-weight-normal">Reset password</h1>
		<div class="mt-20">
			<input name="email" class="my-10 form-control" placeholder="Email address" type="email" id="id_email" required="true">
			<button class="btn btn-lg btn-primary btn-block" type="submit">Send reset email</button>  
		</div>
	</form>
</div>

{% endblock %}
