{% include 'gentannieReferal/head.html' %}

<div class="px-3 mt-6">
	<h1 class="mb-3 h3 font-weight-normal">	
		password reset sent
	</h1>
	<div class="container">
		<div class="mt-24 d-flex flex-column">
			<p class="p-2 m-auto">
				We've emailed you instructions for setting your password, if an account exists with the email you entered.
				You should receive them shortly.
			</p>
			<p class="p-2 m-auto">
				If you don't receive an email, please make sure you've entered the address you registered with,
				and check your spam folder.
			</p>
			<p class="p-2 m-auto"><a href="{% url 'index' %}" style="text-decoration:none">Return to home page</a></p>
		</div>
	</div>
</div>